# Python Basics


## Summary of work:

In this work we intrtroduce Python and some of the basic data types. There are several resourses available to study python including the following online turorials.

- [Python Documentation](https://docs.python.org/3/tutorial/)
- [Tutorialpoint](https://www.tutorialspoint.com/python/python_overview.htm)

### Comments in Python

In [5]:
#This is the first comment in this python program.

### Python 2 vs 3

In [1]:
 # 7/3 in python 2 produces 2, which is the nearest integer.
7/3

2.3333333333333335

In [2]:
#print "Hello World" #is acceptable in Python 2
print ("Hello World")  # in Python 3, print must be followed by ()

Hello World

### Python as a Calculator

In [3]:
7 + 9

16

In [4]:
6+ 7*8

62

In [5]:
(50 - 5*6) / 4

5.0

In [6]:
11 / 3  # classic division returns a float

3.6666666666666665

In [7]:
14// 3  # floor division discards the fractional part

4

In [8]:
 3 ** 2  # 3 squared

9

In [9]:
10%2 # reminder

0

In [10]:
13%3

1

### Order of Operations
Python follows ** PEMDAS** convention of Mathematics.

In [11]:
2*(3-1)

4

In [12]:
(1+1)**(5-2)

8

In [13]:
2**1+1 #is not 4

3

In [14]:
3*1**3 # is not 27

3

In [47]:
6+4/2 # is not 5

8.0

### Variables Name and Key Words

Variable names can be arbitrary long. They may contain both letters and numbers but they have to begin with a letter. Underscore character ( _ ) can be used. We cannot use special characters like @, $,&, etc while defining variables.

In [65]:
#Illegal variables
12my_variable, more@

SyntaxError: invalid syntax (<ipython-input-65-09507d212867>, line 2)

In [66]:
#Legal variables
my_var = 12
my_second_variable_123 = 89

In [8]:
width = 40  
length = 5
Area = width * length
Area

200

### Reserved Keywords for Python

and, del, from, not, while,as, elif, global,or,with,

assert, else, if, pass, yield, break, except, import, print, class, exec, raise, continue, 

finally, is, return, def, for, lambda, try,in

### Basic Python Variable Types

There are several variable types in Python 3. Here is a list of the most common types:


- int (Integer/Long)
- float
- complex
- bool (Boolean)

In [80]:
type(13)

int

In [81]:
type(10.5)

float

In [82]:
type(5j )

complex

In [15]:
complex(2,3)

(2+3j)

In [16]:
z = 2  - 3j

In [33]:
z.real

2.0

In [35]:
z.imag

-3.0

In [24]:
a = True
type(a)

bool

In [87]:
#help(str)

## Additional Data Types

- str -> String
- list-> Ordered Array
- tuple -> Ordered Immutable Array
- dict -> Unordered list of keys and values

### String

In [71]:
first_name = 'Hum Nath' #or first name = "Hum Nath"

In [72]:
last_name = 'Bhandari'

In [73]:
name = first_name + ' '+ last_name

In [74]:
name

'Hum Nath Bhandari'

In [75]:
type(name)

str

In [68]:
name[0]

'H'

In [69]:
name[:]

'Hum Nath Bhandari'

In [70]:
name[:-7]

'Hum Nath B'

In [79]:
name[-1]

'i'

In [80]:
name[1:3]

'um'

In [81]:
name[-9:-2]

' Bhanda'

In [85]:
name + name

'Hum Nath BhandariHum Nath Bhandari'

In [86]:
name*3

'Hum Nath BhandariHum Nath BhandariHum Nath Bhandari'

In [91]:
firstname = 'Peter W. Smith'.split(' ')[0] # [0] selects the first element of the list
middlename = 'Peter W. Smith'.split(' ')[1] # [1] selects the second element of the list
lastname = 'Peter W. Smith'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(middlename)
print(lastname)

Peter
W.
Smith

### String formatting

In [92]:
firstname = "Josh"
lastname = "Brooks"
formatted_name = "%s, %s" % (lastname, firstname) 

#formatted_name = "%s, %s." % (last_name, first_name[0])
print(formatted_name)

Brooks, Josh

In [79]:
print("pi ≈ %.2f" % 3.14159)

pi ≈ 3.14

In [98]:
"Speed Limit "+ 65

TypeError: must be str, not int

In [99]:
"Speed Limit "+ str(65)

'Speed Limit 65'

### Lists

In [91]:
grade = [ 80, 70, 50]

In [92]:
x = [1, 'RWU', 2, 'Bristol']
type(x)

list

In [93]:
len(x)

4

In [94]:
x[1]

'RWU'

In [95]:
x[3]

'Bristol'

In [96]:
y = [2, 'Math', 5, "Data Science"]

In [97]:
x + y # it concantinates two string

[1, 'RWU', 2, 'Bristol', 2, 'Math', 5, 'Data Science']

In [104]:
x = [1, 'RWU', 2, 'Bristol']
x.extend([23,78])
x

[1, 'RWU', 2, 'Bristol', 23, 78]

In [119]:
a = []
type(a)

list

In [120]:
a.append(30)
a

[30]

In [121]:
a.append("grade")
a

[30, 'grade']

In [122]:
a.append(80)
a

[30, 'grade', 80]

In [139]:
a[0] = 70
a

[70, 'grade', 80]

In [149]:
1 in  [1,2,3] # check for list membership

True

In [150]:
0 in [1,5,9]

False

In [164]:
#Sorting
x = [ 5,3, 1, 8]
y = sorted(x)

In [160]:
x

[5, 3, 1, 8]

In [161]:
y

[1, 3, 5, 8]

In [162]:
x.sort()
x

[1, 3, 5, 8]

In [163]:
x

[1, 3, 5, 8]

### Tuple

In [124]:
my_tuple = (1,2,3)

my_tuple[0]

1

In [126]:
my_tuple[0] = 30

TypeError: 'tuple' object does not support item assignment

In [127]:
my_tuple + (3,4,7,6)

(1, 2, 3, 3, 4, 7, 6)

### Dictionary

In [128]:
my_dict = {"name":"John", "grade":90, "subject": "Data Science"}
my_dict

{'grade': 90, 'name': 'John', 'subject': 'Data Science'}

In [129]:
type(my_dict)

dict

In [130]:
my_dict["name"]

'John'

In [134]:
my_dict.items()

dict_items([('name', 'John'), ('grade', 90), ('subject', 'Data Science')])

In [135]:
my_dict.keys()

dict_keys(['name', 'grade', 'subject'])

In [136]:
my_dict.values()

dict_values(['John', 90, 'Data Science'])

In [137]:

for counter in my_dict:
    print(my_dict[counter])

John
90
Data Science

## Functions

In [138]:
def find_sum(x,y):
    return x+y

find_sum(20,10)

30

In [162]:
def fahrenheit(T):
    return (9/5)*T + 32

def celsius(T):
    return (5/9)*(T-32)

In [163]:
celsius(32)

0.0

In [164]:
fahrenheit(0)

32.0

In [146]:
add = lambda x, y : x + y

In [147]:
add(4,8)

12

In [173]:
fahrenheit =  lambda x: (9/5)*x + 32
celsius = lambda x:  (5/9)*(x-32)

### Math Library

In [174]:
import math


#### Basic Math Functions in Python
- fabs(x)
- ceil(x)
- floor(x)
- exp(x)
- log(x)# natural logarithm
- log10(x)
- max(x1, x2,...)
- pow(x, y)
- round(x [,n]) # round to n digits from the decimal points
- sqrt(x)
- sin(x)
- cos(x)
- tan(x)

In [185]:
abs(-4.8)

4.8

In [186]:
math.fabs(-4.8)

4.8

In [179]:
math.ceil(-4.6)

-4

In [181]:
math.log(8)

2.0794415416798357

In [182]:
math.pow(2,3)

8.0

In [184]:
round(3.413894, 3)

3.414

In [188]:
math.sqrt(9)

3.0

In [184]:
n=5
k=1
math.factorial(n) / (math.factorial(k) * math.factorial(n-k))

5.0

In [189]:
math.sin(math.pi/2)

1.0

In [191]:
math.tan(math.pi/4)

0.9999999999999999

###  Random Numbers

In [196]:
import random
a = random.random( )
a

0.7099875529700422

In [198]:
b = random.uniform(1, 7)
b

5.477666925374738

In [200]:
c = random.randint(1, 10)
c

4

In [203]:
items = [1, 2, 3, 4, 5, 6, 7,8,9]
random.shuffle(items)
items

[1, 8, 7, 6, 4, 3, 5, 2, 9]

In [205]:
random.sample([1, 2, 3, 4, 5,6,7,8],  4)

[1, 3, 7, 6]

In [198]:
def binomilal_coef(n,k):
    """
    This function returns the binominal coef
    
    Parameters:
    ===========
    n, k int
    
    return n!/(k!*(n-k)!)
    """
    value = math.factorial(n)/(math.factorial(k)*math.factorial(n-k))
    return value


binomilal_coef(52,2)

1326.0

### Conditional Execution

In [209]:
x = 10;
if x > 0:
    print("x is positive")

x is positive

In [212]:
grade = 50;
if grade >= 60:
    print("You passed this class")
else:
    print("Sorry you are failed! Please repeate this course in the next semester!")

Sorry you are failed! Please repeate this course in the next semester!

### Chained Conditionals

In [221]:
x = 2; y = 8
if x < y:
    print("x is less than y")
elif(x > y):
    print("x is greater than y")
else:
    print("x and y are equal")

x is less than y

In [222]:
grade = 66

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >=60: 
    print("D")
else:
    print("Sorry you are failled in this class")

D

### Nested Conditionals

In [220]:
if x == y:
    print("x and y are equal")
else:
    if x< y:
        print ("x is less than y")
    else:
        print("x is greater than y")

x is less than y

### Loops in Python

In [206]:
for counter in [1,2,3,4,5,6]:
    print(counter)

1
2
3
4
5
6

#### range() function
range(stop)

range(start,stop[ ,step])

In [187]:
for counter in range(6):
    print(counter)

0
1
2
3
4
5

In [189]:
for counter in range(1,6):
    print(counter)

1
2
3
4
5

In [166]:
for counter in range(1,6,2):
    print(counter)

1
3
5

###  While Loop

In [190]:
counter = 0
while counter < 6:
    print(counter)
    counter += 1

0
1
2
3
4
5

### Taking User Input in Python

In [ ]:
name = input("Tell me your name ")
print("Hello " + name + "!")
age = input("How old are you? ")
print("You are " + age + " years old, " + name + "!")