# Python Basics

## Summary of work:

In this work we intrtroduce Python and some of the fundamental modules such as numpy, pandas, matplotlib, etc.

### 1. Python 2 vs 3

In [5]:
 # 5/2 in python 2 produces 2, whih is the nearest integer.
5/2

2.5

In [6]:
    
#print "Hello World" #is acceptable in Python 2
print ("Hello World")  # in Python 3, print must be followed by ()

Hello World

### 2. Python as a Calculator

In [8]:
6 + 8

14

In [9]:
6+ 7*8

62

In [10]:
(50 - 5*6) / 4

5.0

In [8]:
11 / 3  # classic division returns a float

3.6666666666666665

In [9]:
14// 3  # floor division discards the fractional part

4

In [11]:
 3 ** 2  # 3 squared

9

In [12]:
2 ** 7

128

In [15]:
width = 40 # = sign as assignment 
height = 5
width * height

200

### 3. Basic Python Variable Types

There are many variable types in Python 3. Here is a list of the most common types:


- int (Integer/Long)
- float
- complex
- bool (Boolean)

In [20]:
type(13)

int

In [23]:
type(10.5)

float

In [28]:
type(5j )

complex

In [31]:
complex(2,3)

(2+3j)

In [32]:
z = 2  - 3j

In [33]:
z.real

2.0

In [35]:
z.imag

-3.0

In [37]:
a = True

In [38]:
type(a)

bool

In [40]:

type(None)

NoneType

## Additional Data Types

- str -> String
- list-> Ordered Array
- tuple -> Ordered Immutable Array
- dict -> Unordered list of keys and values

### String

In [41]:
first_name = 'Hum Nath' #or first name = "Hum Nath"

In [13]:
last_name = 'Bhandari'

In [14]:
name = first_name + ' '+ last_name

In [15]:
name

'Hum Nath Bhandari'

In [16]:
type(name)

str

In [68]:
name[0]

'H'

In [69]:
name[:]

'Hum Nath Bhandari'

In [70]:
name[:-7]

'Hum Nath B'

In [79]:
name[-1]

'i'

In [80]:
name[1:3]

'um'

In [81]:
name[-9:-2]

' Bhanda'

In [85]:
name + name

'Hum Nath BhandariHum Nath Bhandari'

In [86]:
name*3

'Hum Nath BhandariHum Nath BhandariHum Nath Bhandari'

In [91]:
firstname = 'Peter W. Smith'.split(' ')[0] # [0] selects the first element of the list
middlename = 'Peter W. Smith'.split(' ')[1] # [1] selects the second element of the list
lastname = 'Peter W. Smith'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(middlename)
print(lastname)

Peter
W.
Smith

### String formatting

In [92]:
firstname = "Josh"
lastname = "Brooks"
formatted_name = "%s, %s" % (lastname, firstname) 

#formatted_name = "%s, %s." % (last_name, first_name[0])
print(formatted_name)

Brooks, Josh

In [93]:
print("π ≈ %.2f" % 3.14159)

π ≈ 3.14

In [98]:
"Speed Limit "+ 65

TypeError: must be str, not int

In [99]:
"Speed Limit "+ str(65)

'Speed Limit 65'

### Lists

In [47]:
x = [1, 'RWU', 2, 'Bristol']
type(x)

list

In [125]:
len(x)

4

In [50]:
x[1]

'RWU'

In [49]:
x[3]

'Bristol'

In [51]:
y = [2, 'Math', 5, "Data Science"]

In [54]:
x + y

[1, 'RWU', 2, 'Bristol', 2, 'Math', 5, 'Data Science']

In [111]:
a = []
type(a)

list

In [112]:
a.append(30)
a

[30]

In [113]:
a.append("grade")
a

[30, 'grade']

In [114]:
a.append([30,60,75])
a

[30, 'grade', [30, 60, 75]]

In [115]:
a[0] = 70
a

[70, 'grade', [30, 60, 75]]

### Tuple

In [117]:
mytuple = (1,2,3)

mytuple[0]

1

In [118]:
mytuple[0] = 30

TypeError: 'tuple' object does not support item assignment

In [121]:
mytuple + (3,4,7,6)

(1, 2, 3, 3, 4, 7, 6)

### Dictionary

In [136]:
mydict = {"name":"John", "grade":90, "subject": "Data Science"}
mydict

{'grade': 90, 'name': 'John', 'subject': 'Data Science'}

In [137]:
type(mydict)

dict

In [138]:
mydict["name"]

'John'

In [139]:
for item in mydict:
    print(mydict[item])

John
90
Data Science

In [140]:
mydict.values()

dict_values(['John', 90, 'Data Science'])

In [141]:
mydict.keys()

dict_keys(['name', 'grade', 'subject'])

## Functions

In [142]:
def find_sum(x,y):
    return x+y

find_sum(20,10)

30

In [162]:
def fahrenheit(T):
    return (9/5)*T + 32

def celsius(T):
    return (5/9)*(T-32)

In [163]:
celsius(32)

0.0

In [164]:
fahrenheit(0)

32.0

In [146]:
add = lambda x, y : x + y

In [147]:
add(4,8)

12

In [173]:
fahrenheit =  lambda x: (9/5)*x + 32
celsius = lambda x:  (5/9)*(x-32)

### Math Library

In [174]:
import math

In [184]:
n=5
k=1
math.factorial(n) / (math.factorial(k) * math.factorial(n-k))

5.0

In [182]:
math.sin(math.pi/2)

1.0

In [198]:
def binomilal_coef(n,k):
    """
    This function returns the binominal coef
    
    Parameters:
    ===========
    n, k int
    
    return n!/(k!*(n-k)!)
    """
    value = math.factorial(n)/(math.factorial(k)*math.factorial(n-k))
    return value


binomilal_coef(52,2)

1326.0

### Loops in Python

In [186]:
for counter in [1,2,3,4,5,6]:
    print(counter)

1
2
3
4
5
6

#### range() function
range(stop)

range(start,stop[ ,step])

In [187]:
for counter in range(6):
    print(counter)

0
1
2
3
4
5

In [189]:
for counter in range(1,6):
    print(counter)

1
2
3
4
5

###  While Loop

In [190]:
counter = 0
while counter < 6:
    print(counter)
    counter += 1

0
1
2
3
4
5

### If .. Else

In [193]:
if math.pi == 22/7:
    print("Edward J. Goodwin was right!")
else:
    print("π is irrational")

π is irrational

In [192]:
if math.sqrt(2) == (10/7):
    print("Edward J. Goodwin was right!")
elif math.sqrt(2) != (10/7):
    print("Square root of 2 is irrational")

Square root of 2 is irrational

#### Nested Loop

In [196]:
prob = 0.3

if prob >= 0.75:
    print("Sure thing")
elif prob >= 0.5:
    print("Maybe")
elif prob >= 0.25:
    print("Unusual")
else:
    print("No way")

Unusual

In [197]:
grade = 66

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >=60: 
    print("D")
else:
    print("Sorry you are failled in this class")

D